.movie {
  margin-top: 80px;
  margin-right: 200px; /* Adjust margins as needed */
}

.single_movie {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60%; /* This ensures the grid takes 60% of its parent container */
  margin: 0 auto; /* Centers the grid horizontally within the .movie div */
  /* overflow-y: hidden; /* Add this if you want to hide overflow content vertically */
}

.single_movie::-webkit-scrollbar {
  display: none;
}

.image {
  object-fit: contain;
  max-height: 150px;
  border-radius: 20px;
  transition: transform 450ms;
  margin: 15px;
}

.image_div {
  display: flex;
  overflow-y: hidden; /* Add this if you want to hide overflow content vertically */
  overflow-x: hidden; /* Add this if you want to hide overflow content horizontally */
  padding-left: 100px; /* Adjust padding if needed */
  width: fit-content; /* Remove fixed width to allow content to adjust */
}

.info_section {
  font-weight: bold;
  color: white;
  margin-top: 15px;
}

.info_section ul {
  font-size: 10px;
  list-style: none;
  display: flex;
}

.side_by_side {
  font-size: 13px;
  align-items: center;
  padding-right: 10px;
  margin-bottom: 5px;
  display: flex;
}

.time_Buttons {
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 7px;
  padding: 3px;
  border-radius: 5px;
}

.location {
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  font-size: 12px;
}

.book_button {
  font-weight: bold;
  padding: 2px 20px;
  border-radius: 5px;
  margin-left: 20px;
}

.the_color {
  /* background-color: #604500; */
  color: #604500;
}

.the_colors {
  background-color: #604500;
  color: #fbf5e6;
}

/* .movie {
  margin-top: 80px;
  margin-right: 200px;
}

.single_movie {
  /* overflow-y: hidden;
  overflow-x: scroll; */
/* max-width: 50%; */
/* display: grid; */
/* grid-template-columns: repeat(2, 1fr);
  width: 60%;
}
.single_movie::-webkit-scrollbar {
  display: none;
} */

/* .image {
  object-fit: contain;
  max-height: 150px;
  border-radius: 20px;
  transition: transform 450ms;
  margin: 15px;
} */
/* 
.image_div {
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-left: 100px;
  width: 500px;
} */

/* .info_section {
  font-weight: bold;
  color: white;
  margin-top: 15px;
} */
/* 
.info_section ul {
  font-size: 10px;
  list-style: none;
  display: flex;
}

.side_by_side {
  font-size: 13px;
  align-items: center;
  padding-right: 10px;
  margin-bottom: 5px;
  display: flex;
} */

/* .time_Buttons {
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 7px;
  padding: 3px;
  border-radius: 5px;
}

.location {
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  font-size: 12px;
}

.book_button {
  font-weight: bold;
  padding: 2px 20px;
  border-radius: 5px;
  margin-left: 20px;
} */

/* .the_color {
  /* background-color: #604500; */
/* color: #604500;
} */

/* .the_colors {
  background-color: #604500;
  color: #fbf5e6;
} */
