.header_outer_container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #604500;
  color: white;
  /* background-color: transparent; */
  /* height: 10vh;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1; */
  /* background-color: red; */
}

.header_container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_container div li {
  list-style: none;
}

.headerLeft {
  padding-right: 15px;
  display: flex;
}

.ethio_Cinema_Logo {
  padding-right: 15px;
  color: #ffff6b;
}

.home_Button {
  color: #fbf5e6;
}

.headerLeft ul {
  display: flex;
}

.headerLeft ul li {
  padding: 10px;
}

.headerMiddle {
  display: flex;
  width: 55%;
}

.headerMiddle ul li {
  padding: 10px;
}

.search_bar {
  background-color: #604500;
  color: #fbf5e6;
  border: none;
  width: 80%;
  padding-left: 10px;
}

.search {
  display: flex;
  align-items: center;
  border: #fbf5e6 solid 1px;
  margin: 10px;
  color: #fbf5e6;
  border-radius: 20px;
  width: 160px;
  padding-left: 10px;
}

.genre {
  background-color: #604500;
  color: #fbf5e6;
  border: none;
  width: 80%;
  padding-left: 10px;
}

.genre_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: #fbf5e6 solid 1px;
  margin: 10px;
  color: #fbf5e6;
  border-radius: 20px;
  width: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.location_icon {
  color: red;
}

.location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95px;
}

.location_input {
  background-color: #604500;
  color: #fbf5e6;
  width: 80%;
  border: none;
}

.pointer {
  cursor: pointer;
}

.cinema {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95px;
}

.cinema_icon {
  padding-right: 3px;
}

.account {
  margin: 15px;
  background-color: #604500;
}
