.Coming_soon_title {
  text-align: end;
  padding-right: 70px;
  padding-top: 50px;
  color: white;
}

.coming_soon_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* width: 60%;  */
  margin: 20px 60px;
}

.banner {
  object-fit: contain;
  max-height: 250px;
  border-radius: 20px;
  transition: transform 450ms;
  margin: 0 10px 15px 5px;
  max-width: 180px;
  height: 230px;
  color: white;
  object-fit: contain;
}

.banner_contents {
  margin-top: 40px;
  margin-left: 20px;
  /* padding: 150px 0; */
}

.banner_title {
  width: 70%;
  font-size: 1rem;
  font-weight: 800;
  padding-bottom: 0.9rem;
}

.banner_button {
  color: #fff;
  outline: none;
  border: none;
  font-size: 0.8rem;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 0.1rem 0.3rem;
  margin-right: 2rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.book_button {
  cursor: pointer;
  font-weight: bold;
  padding: 2px 20px;
  border-radius: 5px;
  margin-left: 10px;
}

.side_by_side {
  font-size: 10px;
  align-items: center;
  padding-right: 10px;
  margin-bottom: 5px;
  display: flex;
}

.coming_soon_rate ul {
  display: flex;
}

.coming_soon_rate {
  padding-bottom: 0.5rem;
}
.the_color {
  /* background-color: #604500; */
  color: #604500;
}

.location {
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  font-size: 12px;
}

.the_colors {
  background-color: #604500;
  color: #fbf5e6;
}

.play {
  color: #000;
  background-color: #fff;
}

.banner_button:hover {
  color: #000;
  background-color: #c6c6c6;
  transition: all0.2s;
}

.banner_fadeButton {
  height: 40vh;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgb(37, 37, 37, 0.91),
    #111
  );
}
